<div class="form-wrapper flex flex-auto min-h-screen relative overflow-hidden h-screen w-screen bg-slate-300">
    <div *ngIf="!isLoggedIn" class="absolute top-3 right-3 bg-lime-700 font-semibold text-sm text-white p-2 rounded">
        Email Or Password are incorrect.</div>
    <div *ngIf="isSuccess" class="absolute top-3 right-3 bg-lime-700 font-semibold text-sm text-white p-2 rounded">Login
        Successfully</div>
    <div class="flex items-center justify-center w-full h-full">
        <mat-card class="login-form w-1/3 p-4">
            <form #loginForm="ngForm">
                <h2 class="text-slate-600 text-lg mb-4 text-center font-bold">Login Form</h2>
                <div class="relative mb-2">
                    <mat-form-field class="w-full">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="user.email" name="email" #email="ngModel"
                            [(ngModel)]="formValue.email" required email>
                    </mat-form-field>
                    <div class="error-message absolute bottom-0 left-0 text-red-700 text-xs px-2"
                        *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors?.['required']">Email is required</div>
                        <div *ngIf="email.errors?.['email']">Invalid email format</div>
                    </div>
                </div>
                <div class="relative mb-2">
                    <mat-form-field class="w-full">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" name="password" #password="ngModel"
                            [(ngModel)]="formValue.password" required
                            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="error-message absolute bottom-0 left-0 text-red-700 text-xs px-2"
                        *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors?.['required']">Password is required</div>
                        <div *ngIf="password.errors?.['pattern']">Invalid Password format</div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <button mat-raised-button color="accent" class="mx-auto" (click)="submitForm(loginForm)"
                        [disabled]="!loginForm.valid">Login</button>
                </div>
                <div class="flex justify-center mt-2">
                    <a [routerLink]="['/signup']" class="text-blue-500">You don't have account, Please Signup</a>
                </div>
            </form>
        </mat-card>
    </div>
</div>
<router-outlet></router-outlet>