<div class="form-wrapper flex flex-auto min-h-screen relative overflow-hidden h-screen w-screen bg-slate-300">
    <div class="flex items-center justify-center w-full h-full">
        <mat-card class="login-form w-1/3 p-4">
            <form #newUserForm="ngForm" novalidate>
                <h2 class="text-slate-600 text-lg mb-4 text-center font-bold">Sign Up</h2>
                <div class="relative mb-2">
                    <mat-form-field class="w-full">
                        <mat-label>Full Name</mat-label>
                        <input matInput [(ngModel)]="user.fullname" name="fullname" #fullname="ngModel" required>
                    </mat-form-field>
                    <div class="error-message absolute bottom-0 left-0 text-red-700 text-xs px-2"
                        *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)">
                        <div *ngIf="fullname.errors?.['required']">Full Name is required</div>
                    </div>
                </div>
                <div class="relative mb-2">
                    <mat-form-field class="w-full">
                        <mat-label>Enter your email</mat-label>
                        <input matInput required [(ngModel)]="user.email" name="email" #email="ngModel" required email>
                    </mat-form-field>
                    <div class="error-message absolute bottom-0 left-0 text-red-700 text-xs px-2"
                        *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors?.['required']">Email is required</div>
                        <div *ngIf="email.errors?.['email']">Invalid email format</div>
                    </div>
                </div>
                <div class="relative mb-2">
                    <mat-form-field class="w-full">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" name="password"
                            #password="ngModel" required
                            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="error-message absolute bottom-0 left-0 text-red-700 text-xs px-2"
                        *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors?.['required']">Password is required</div>
                        <div *ngIf="password.errors?.['pattern']">Invalid Password format</div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <button mat-raised-button color="accent" class="mx-auto" (click)="submitForm(newUserForm)"
                        [disabled]="!newUserForm.valid">Signup</button>
                </div>
                <div class="flex justify-center mt-2">
                    <a [routerLink]="['/login']" class="text-blue-500">If you have already account, Go to Login Page</a>
                </div>
            </form>
        </mat-card>
    </div>
</div>

<router-outlet></router-outlet>