<div class="bg-cyan-700 text-white h-full">
    <div class="p-2">
        <img src="../../../assets/viitorcloud-logo.svg" alt="" height="62" class="max-h-11">
    </div>
    <ul>
        <li>
            <a class="block px-4 py-2 hover:bg-cyan-950 mb-2" [routerLink]="'dashboard'" routerLinkActive="router-link-active" >Dashboard</a>
        </li>
        <li>
            <a class="block px-4 py-2 hover:bg-cyan-950 mb-2" [routerLink]="'user-list'" routerLinkActive="router-link-active">User List</a>
        </li>
    </ul>
</div>


